requests==2.31.0
google-generativeai==0.8.3
moviepy==1.0.3
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.126.0
imageio==2.34.0
imageio-ffmpeg==0.4.9
Pillow==10.3.0
numpy==1.26.4
decorator==4.4.2
proglog==0.1.10
tqdm==4.66.2
